
h1 {
font-family: "Raleway", sans-serif;
font-weight: 600;
font-size: 50px
text-transform: capitalize;
letter-spacing: 2px;
background-color:#f15b31;
color:#ffffff;
padding:30px 20px 20px 20px;
margin: 0;
}

a {
 color:#ffffff;
 margin:0 20px 0 20px;
 border-bottom:2px solid transparent;
}
a:hover {
	background-color:#0d2c40;
}
h2 {
 font-weight: 500;

}
p {
font-family: "Raleway", serif;
.copyright:float left;

}

body {
text-align: center;
margin: 0;
}
nav{
	background-color:#00a6b3;
	padding:20px 0 20px 0;

}
main{
	width:850px;
	margin-top: 35px;
	margin-bottom: 35px;
	margin-left: auto;
	margin-right: auto;
}
img{
	margin:40px 8px 0 8px;
}
footer{
	text-transform:uppercase;
	padding:0 20px 0 20px;
	background-color: #0d2c40;
	color: white;
	font-size:14px;
	letter-spacing: .08em
	font-weight:500;
}
.copyright{
	float: left;
}
.message{
	float: right;
}
.clearfix:after {
visibility: hidden;
display: block;
content: " ";
clear: both;
height: 0;
font-size: 0;
}
.name{
	color:#f15b31;
	font-weight:700;

}

